:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

nav {
  display: flex;       /* Arrange the nav items horizontally */
  gap: 10px;           /* Optional: space between the nav items */
  background-color: #f9f9f9;   
  padding: 10px;
  width: 100%;            /* Full width */
  box-sizing: border-box; /* Includes padding in the total width */
  position: fixed;        /* Keeps it fixed at the top of the screen */
  top: 0;                 /* Align it at the top */
  left: 0;                /* Align it to the left */
  z-index: 1000;          /* Makes sure it's on top of other content */
}

.flex-1 {
  padding-top: 100px; /* Push content below the nav (adjust this based on your nav height) */
}

.nav-link {
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link.active {
  color: #646cff;
  font-weight: bold;
}


button.nav-link {
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button.nav-link:hover {
  color: #747bff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;