.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    position: relative;
    max-width: 600px; /* Max width of the modal */
    width: 100%; /* Full width up to the max-width */
    max-height: 90vh; /* Limit modal height to 90% of the viewport height */
    overflow-y: auto; /* Enable vertical scroll if content exceeds the max height */
    margin: auto; /* Center the modal horizontally */
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}

  .close-button {
    position: absolute;
    top: 5px;
    left: 1px;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: #888;
    transition: color 0.3s ease;
  }

  .button-container {
    display: flex;
    gap: 10px; /* Space between the buttons */
    margin-top: 20px; /* Add space above the buttons */
  }  

  .emailContent {
    margin-top: 40px;
    text-align: left; /* Align text to the left */
}

.border {
  border: 1px solid #ccc; /* Gray border color */
  border-radius: 4px; /* Rounded corners (optional) */
  padding: 10px; /* Ensure padding inside the border */
}

textarea {
  font-family: 'Arial, sans-serif';
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  white-space: pre-wrap;        /* Allow text wrapping */
  overflow-x: hidden;           /* Disable horizontal scrolling */
  overflow-y: auto;             /* Enable vertical scrolling if necessary */
  resize: vertical;             /* Optional: allow vertical resizing */

}

@media (prefers-color-scheme: dark) {
  .dark-style {
    color: #000; /* Black text color for dark mode */
  }

  textarea {
    font-family: 'Arial, sans-serif';
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
  }
}